/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@300;400;500&display=swap');

:root {
    --background-color: #FFFFFF;
    --primary-accent: #F6F4EE;
    --secondary-accent: rgb(197, 190, 179);
    --text-color: #332d27;
    --highlight-color: #D6C7B0;
    --subtext-color: rgba()
}

h1, h2, h3, .main__menu-header {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    letter-spacing: -0.5px;
}

.active {
    display: flex;
}

.inactive {
    display: none;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.header__upper {
    padding: 1rem;
    text-align: center;
    background-color: var(--primary-accent);
    font-weight: 500;
}

.header__hero {
    padding: 1rem;
    background-color: var(--background-color);
    border-top : var(--secondary-accent) solid 2px;
    border-bottom: var(--secondary-accent) solid 2px;
    display: grid;
    grid-template-areas: 
    'header sidebar-btn'
    'tagline sidebar-btn';
}

.header__logo {
    grid-area: header;
    font-size: 1.6rem;   
}

.header__tagline {
    grid-area: tagline;
    font-size: 0.8rem;
    color: var(--secondary-accent);
}

.header__sidebar-btn {
    background: none;
    border: none;
    grid-area: sidebar-btn;
    font-size: x-large;
    justify-self: end;
}

.bg-img {
    background-image: url("./odin-restaurant-hero.jpg");
    background-size: cover;
    background-position: 32%;
}

.home-layout {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: 1rem;
}

.main__home-header {
    font-size: 1.5rem;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
}

.main__home-subtext {
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    width: 100%;
}

.main__home-about-btn {
    border-radius: 4px;
    border: var(--text-color);
    color: var(--text-color);
    padding: 0.3rem;
    width: 50%;
    min-width: 150px;
    max-width: 300px;
}

/* Change to menu-layout */
.main {
    background-color: var(--highlight-color);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1.5rem;
    align-items: center;
}

.main__course-container {
    width: 90%;
}

.course-block__course-name {
    font-size: 2rem;
}

.course-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 1rem;
}



.course-block__course-items {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.course-item {
    background-color: var(--background-color);
    border-radius: 4px;
    box-shadow: 3px 3px 3px gray;
    display: grid;
    grid-template-columns: repeat(3, auto) 1fr;
    gap: 1.5rem;
    padding: 1rem;
    align-items: center;
}

.course-item__name {
    font-size: 1.2rem;
    grid-column: 1/-1;
}

.course-item__price {
    font-weight: 400;
}

.course-item__calories {
    font-size: 0.7rem;
}

.course-item__diet {
    font-size: 0.8rem;
}

.course-item__description {
    grid-column: 1/-1;
}



.sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    background: var(--primary-accent);
    color: var(--text-color);
    width: 300px;
    transition: right 0.3s ease-in-out;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .sidebar.active {
    right: 0;
  }

.sidebar__btn {
    padding: 0.4rem;
    background-color: var(--secondary-accent);
    border: var(--highlight-color) solid 3px;
    color: var(--text-color);
    border-radius: 6px;
    font-weight: 600;
}

.sidebar__btn--close {
    background: none;
    border: none;
    text-align: left;
}

.sidebar__socials {
    display: flex;
    flex-grow: 1;
    align-items: end;
    justify-content: center;
    margin-bottom: 3rem;
    gap: 1rem;
}

.sidebar__social {
    color: var(--text-color);
    background: none;
    height: 50px;
    border: none;
}

@media (min-width: 1024px) {
    /* Styles for standard desktops */
    body {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
    }

    .header {
        display: grid;
        grid-template-rows: 1fr auto;
        align-items: center;
        justify-content: center;
        height: 300px;
        background-color: var(--primary-accent);
    }

    .header__upper {
        display: none;
    }

    .header__hero {
        border: none;
        background-color: var(--primary-accent);
    }

    .header__sidebar-btn {
        display: none;
    }

    .sidebar {
        position: static;
    }

    .sidebar__btn--close {
        display: none;
    }

    .main {
        grid-row: span 2;
    }

}




